<div class="border border-primary/60 rounded-lg flex overflow-hidden">
  <div class="flex-1 p-5 bg-white ">
    <h1 class="text-3xl font-medium text-primary text-center mb-10 mt-5">
      {{"Login" | translate}}
    </h1>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="flex flex-col gap-5 max-w-[300px] mx-auto">
      @if (errorMsg() || true) {
      <div class="text-center">
        <!-- show error() -->
        <span class="text-error  text-sm">
          {{errorMsg() | translate}}
        </span>
      </div>
      }

      <!-- Email or Phone -->
      <label class="form-control floating-label ">
        <span>
          {{"Email or Phone" | translate}}
        </span>
        <input type="text" name="emailOrPhone" #emailOrPhone="ngModel"
          class="input input-primary border border-primary/50 w-full"
          placeholder="{{'Enter Email or Phone' | translate}}" ngModel required />
        <div class="label">
          @if (emailOrPhone?.invalid && emailOrPhone?.touched) {
          <span class="label-text-alt text-error text-xs">
            {{"This field is required" | translate}}
          </span>
          }


        </div>
      </label>
      <!-- Password -->
      <div class="form-control floating-label  ">
        <span>
          {{"Password" | translate}}
        </span>
        <input type="password" #password="ngModel" name="password" [minLength]="8"
          class="input input-primary border border-primary/50 w-full" placeholder="{{'Enter Password' | translate}}"
          ngModel required />
        <div class="label">
          @if (password?.invalid && password?.touched) {
          <span class="label-text-alt text-error text-xs">
            {{"This field is required" | translate}}
          </span>
          }
        </div>
      </div>

      <!-- Login button -->
      <button type="submit" [disabled]="isLoading()" class="btn btn-primary text-white mb-6">
        @if (isLoading()) {
        <span class="loading loading-spinner text-primary loading-sm"></span>
        } @else {
        {{"Login" | translate}}
        }

      </button>

      <!-- or register (max-md) -->
      <div class="md:hidden text-center mt-1">
        <span class="text-sm text-primary/80">
          {{"Or Register" | translate}}
        </span>
        <a [routerLink]="[routes.AUTH_SIGNUP]" class="link link-primary link-hover font-medium">
          {{"Sign Up" | translate}}
        </a>
      </div>
    </form>
  </div>
  <div class="p-5 max-md:hidden flex flex-col items-center justify-center bg-primary">
    <p class="text-2xl font-medium text-center mb-3 text-white">
      {{"Welcome" | translate}}
    </p>
    <p class="text-white max-w-[250px] text-center mb-5">
      @if (isEn) {
      Add your personal details
      to explore beauty with us
      } @else {
      أضف تفاصيلك الشخصية لاستكشاف الجمال معنا
      }
    </p>
    <!-- Create account button link -->
    <a [routerLink]="[routes.AUTH_SIGNUP]" class="btn btn-white mt-5">
      {{"Create Account" | translate}}
    </a>
  </div>

</div>