<div class="navbar bg-secondary p-0 m-0 text-sm">
  <div class="navbar-start md:hidden">
    <span>
      <span>{{"Email Us" | translate}}</span> | <span>{{"GloriaNatural@gmail.com"}}</span>
    </span>
  </div>
  <div class="navbar-center">
    <a class="text-sm link">{{"Sign Up and get our free Discounts" | translate }}</a>
  </div>
  <div class="navbar-end md:hidden">
    <div class="flex gap-3">
      <a href="btn btn-link">
        <mat-icon svgIcon="fb" [inline]="true" />
        <mat-icon svgIcon="insta" [inline]="true" />
        <mat-icon svgIcon="whatsapp" [inline]="true" />
        <mat-icon svgIcon="linkedin" [inline]="true" />
      </a>
    </div>
  </div>
</div>