<img src="images/home-cover.png" alt="" class="img-fluid" />
<div class="container py-3">
  <section class="mb-8 categories">
    <h3 class="mb-4">
      {{"Shop By Category" | translate}}
    </h3>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
      @for (item of [
      { name: `Bukhoor`, route: appRoutes.PRODUCTS + '?category=Bukhoor', image: 'images/perfume1' },
      { name: `Bukhoor`, route: appRoutes.PRODUCTS + '?category=Bukhoor', image: 'images/perfume2' },
      { name: `Hair Mist`, route: appRoutes.PRODUCTS + '?category=Hair Mist', image: 'images/perfume1' },
      { name: `Hair Mist`, route: appRoutes.PRODUCTS + '?category=Hair Mist', image: 'images/perfume2' },
      { name: `Hair Mist`, route: appRoutes.PRODUCTS + '?category=Hair Mist', image: 'images/perfume1' },
      { name: `Hair Mist`, route: appRoutes.PRODUCTS + '?category=Hair Mist', image: 'images/perfume2' },
      { name: `Hair Mist`, route: appRoutes.PRODUCTS + '?category=Hair Mist', image: 'images/perfume1' },
      { name: `Hair Mist`, route: appRoutes.PRODUCTS + '?category=Hair Mist', image: 'images/perfume2' },
      ]; track item.name) {
      <a href="{{item.route}}" class="flex flex-col items-center text-center">
        <div class="avatar">
          <div class="w-24 h-24 rounded-full border border-base-300 overflow-hidden">
            <img [src]="item.image" alt="{{item.name}}" class="object-contain w-full h-full" />
          </div>
        </div>
        <span class="mt-2 text-sm font-medium">{{item.name}}</span>
      </a>
      }
    </div>
  </section>
  <section class="mb-8 top-discounts">
    <h3 class="mb-4">
      {{"Top Discounts" | translate}}
    </h3>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
      @for (item of [
      { name: `Atelier des Fleurs Minu Eau de Parfum`, route: appRoutes.PRODUCTS + '/Bukhoor', image:
      'images/perfume1' },
      { name: `Bukhoor`, route: appRoutes.PRODUCTS + '?category=Bukhoor', image: 'images/perfume2' },
      { name: `Hair Mist`, route: appRoutes.PRODUCTS + '?category=Hair Mist', image: 'images/perfume1' },
      { name: `Hair Mist`, route: appRoutes.PRODUCTS + '?category=Hair Mist', image: 'images/perfume2' },
      ]; track item.name) {
      <a href="{{item.route}}" class="flex flex-col items-center text-center">
        <div class="avatar">
          <div class="w-24 h-24 rounded-full border border-base-300 overflow-hidden">
            <img [src]="item.image" alt="{{item.name}}" class="object-contain w-full h-full" />
          </div>
        </div>
        <span class="mt-2 text-sm font-medium">{{item.name}}</span>
      </a>
      }
    </div>
  </section>
</div>