<app-header-banner class="p-1 bg-secondary text-white text-xs m-0" domElement #banner="domElement" />
<header #header class="navbar bg-primary text-white">
  <div class="navbar-start">
    <div class="md:hidden">
      <label class="swap swap-rotate">
        <!-- this hidden checkbox controls the state -->
        <input type="checkbox" [(ngModel)]="menuCollapse" />

        <!-- on icon -->
        <mat-icon class="swap-on fill-current" fontIcon="close" />


        <!-- off icon -->
        <mat-icon class="swap-off fill-current" svgIcon="menu" />

      </label>
      <a class="btn btn-link link-hover text-xl">
        <mat-icon svgIcon="menu" />
      </a>
    </div>
    <div class="max-md:hidden">
      <a [routerLink]="[appRoutes.HOME]" class="btn btn-link link-hover text-xl text-white">
        {{"LOGO"}}
      </a>
    </div>
  </div>
  <div class="navbar-center gap-4">
    <div class="md:hidden">
      <a [routerLink]="[appRoutes.HOME]" class="btn btn-link link-hover text-xl text-white md:hidden">
        {{"LOGO"}}
      </a>
    </div>
    <div class="flex gap-4 max-md:hidden">
      @for (item of navItems; track item.name) {
      <a class="btn btn-link link-hover text-white text-xl" [routerLink]="item.route"
        routerLinkActive="!text-secondary">
        {{item.name | translate}}
      </a>
      }
    </div>

  </div>
  <div class="navbar-end">
    <div class="flex gap-3">
      <a class="btn btn-link link-hover p-0 text-white hover:text-secondary" [routerLink]="[appRoutes.Cart]"
        routerLinkActive="!text-secondary">
        <mat-icon svgIcon="cart" class="scale-75" [inline]="true" />
      </a>
      <!-- Language Switch Button -->
      <label class="swap swap-rotate">
        <!-- Hidden checkbox to control the state -->
        <input type="checkbox" (change)="toggleLanguage()" [checked]="!isEn" />

        <!-- English Icon -->
        <div class="swap-off text-white">عربي</div>

        <!-- Arabic Icon -->
        <div class="swap-on text-white">EN</div>
      </label>
      <div class="flex max-md:hidden">
        <a class="btn btn-link link-hover text-white" [routerLink]="[appRoutes.SignIn]"
          routerLinkActive="!text-secondary">
          {{"Login" | translate}}
        </a>
        <span class="m-auto">
          {{"|"}}
        </span>
        <a class="btn btn-link link-hover text-white" [routerLink]="[appRoutes.SignUp]"
          routerLinkActive="!text-secondary">
          {{"Sign Up" | translate}}
        </a>
      </div>
    </div>
  </div>
</header>
@let topSpace = (header?.clientHeight ?? 0) + (banner?.element?.nativeElement?.clientHeight ?? 0);
<div (window:resize)="0" class="fixed left-0 right-0 bottom-0 transition-all  overflow-hidden bg-white z-50"
  [ngStyle]="{'top.px': topSpace, 'height': menuCollapse() ? 'calc(100% - '+topSpace+'px)' : '0'}">
  <header-nav-menu class="h-full" />
</div>